[Unit]
Description=Run dotnet-autodeploy every 30s

[Timer]
OnBootSec=30s
OnUnitActiveSec=30s
AccuracySec=10s
Unit=dotnet-autodeploy.service

[Install]
WantedBy=timers.target
